.side_bar
  .user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        = link_to new_group_path do
          %i.fa.fa-edit.header-items__icons--pen
        = link_to edit_user_path(current_user.id) do
          %i.fa.fa-cog.header-items__icons--cog
  .group-list 
    - current_user.groups.each do |group|
      .group
        = link_to '#' do
          .group__title
            = group.name
          .group__text
            メッセージはまだありません。
    